@import './gridRuler';

.CollabSauce__outline__ {
  outline: 2px solid #00D27B !important;
  &:active {
    outline: 2px solid #00D27B78 !important;
  }
}

.CollabSauce__outline__Non-Edit_Mode {
  outline: 2px solid #61AAF8 !important;
}

.CollabSauce__outline__From-External-Link-transition-helper {
  transition: outline 2s ease-in-out !important;
  -webkit-animation: outline 2s ease-in-out !important;
  -moz-animation: outline 2s ease-in-out !important;
  -o-animation: outline 2s ease-in-out !important;
  -ms-animation: outline 2s ease-in-out !important;

  transition: background-color 2s ease-in-out !important;
  -webkit-animation: background-color 2s ease-in-out !important;
  -moz-animation: background-color 2s ease-in-out !important;
  -o-animation: background-color 2s ease-in-out !important;
  -ms-animation: background-color 2s ease-in-out !important;
}

.CollabSauce__outline__From-External-Link {
  outline: 2px solid #FF9800 !important;
  background-color: yellow !important;
}

.CollabSauce__crosshair__ {
  cursor: crosshair;

  a {
    cursor: crosshair;
  }
}

#collab-sauce-iframe {
  z-index: 2147483600;
  /* same zIndex that intercom uses */
  // z-index: 2147483647;
  position: fixed;
  cursor: initial;
  border: none;
  width: 60px;
  -webkit-box-shadow:: 0px 7px 14px rgba(65, 69, 88, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.07);
  -moz-box-shadow:: 0px 7px 14px rgba(65, 69, 88, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 7px 14px rgba(65, 69, 88, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.07);

  &.show-full-toolbar {
    width: 340px;
  }
}

.collab-sauce-frame-right {
  right: 0px;
}

.collab-sauce-frame-left {
  left: 0px;
}

.collab-sauce-frame-top {
  top: 0px;
}

.collab-sauce-frame-bottom {
  bottom: 0px;
}

.collab-sauce-frame-full {
  height: 100%;
}

.collab-sauce-frame-half {
  height: 50%;
}

.collab-sauce-frame-quarter {
  height: 25%;
}

.collab-sauce-sauceButton {
  z-index: 2147483600;
  /* same zIndex that intercom uses */
  // z-index: 2147483647;
  position: fixed;
  cursor: pointer;
  right: 30px;
  top: 70px;
  height: 60px;
  width: 60px;
  outline: none;
  background-color: #2A7BE4;
  border: none;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-box-shadow: 1px 3px 9px 0px rgba(173,173,173,1);
  -moz-box-shadow: 1px 3px 9px 0px rgba(173,173,173,1);
  box-shadow: 1px 3px 9px 0px rgba(173,173,173,1);
}

.collab-sauce-sauceButton:hover{
  background-color: #2470D4;
}

.collab-sauce-sauceButton:active {
  background-color: #246AC5;
}

.collab-sauce-sauceBottle {
  width: 15px;
}

.collab-sauce-hidden {
  display: none;
}

.collab-sauce-force-hidden {
  display: none;
}
