
.CollabSauce__outline__ {
  outline: 2px solid #00D27B !important;
  &:active {
    outline: 2px solid red !important;
  }
}

.CollabSauce__crosshair__ {
  // cursor: url("../assets/selection-cursor.svg"), auto;
  cursor: crosshair;

  a {
    // cursor: url("../assets/selection-cursor.svg"), auto;
    cursor: crosshair;
  }
}


#collab-sauce-iframe {
  z-index: 2147483600;
  /* same zIndex that intercom uses */
  // z-index: 2147483647;
  position: fixed;
  cursor: initial;
  border: none;
  width: 60px;

  &.show-full-toolbar {
    width: 340px;
  }
}

.collab-sauce-frame-right {
  right: 0px;
}

.collab-sauce-frame-left {
  left: 0px;
}

.collab-sauce-frame-top {
  top: 0px;
}

.collab-sauce-frame-bottom {
  bottom: 0px;
}

.collab-sauce-frame-full {
  height: 100%;
}

.collab-sauce-frame-half {
  height: 50%;
}

.collab-sauce-frame-quarter {
  height: 25%;
}

.collab-sauce-hidden {
  display: none;
}

.collab-sauce-sauceButton {
  z-index: 2147483600;
  /* same zIndex that intercom uses */
  // z-index: 2147483647;
  position: fixed;
  cursor: pointer;
  right: 30px;
  top: 30px;
  height: 50px;
  width: 50px;
  outline: none;
  background-color: #27ae60;
  border: none;
  border-radius:25px;
}

.collab-sauce-sauceButton:hover{
  background-color: #2ecc71;
}

.collab-sauce-sauceButton:active {
  background-color: #2ecc71;
  transform: translateY(4px);
}
